@model IEnumerable<ZarNet.Models.Company>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Companies"];
}

<h1>@Localizer["Companies"]</h1>
<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompanyId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.CompanyId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompanyId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
