@model ZarNet.ViewModels.PostCreate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
}
<h1>@Localizer["CreatePost"]</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4 col-lg-10">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">@Localizer["Category"]</label>
                <input asp-for="CategoryId" id="category-id" type="hidden" />
                <input id="category-value" class="form-control" disabled placeholder="@Localizer["Choose category"]" type="text" />
                <div class="d-flex justify-content-around">
                    @(Html.DevExtreme().TreeList<ZarNet.Models.Category>()
                        .DataSource(ds => ds.Mvc()
                            .Controller("Categories")
                            .LoadAction("GetCategories")
                            .Key("CategoryId")
                        )
                        .ID("CategoryList")
                        .RootValue(0)
                        .ParentIdExpr("ParentId")
                        .ShowRowLines(true)
                        .ShowBorders(true)
                        .FilterRow(filterRow => filterRow.Visible(true))
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .Columns(columns => {
                            columns.AddFor(m => m.Name);
                        })
                        .ColumnAutoWidth(true)
                        .OnInitialized("onInitialized")
                        .AutoExpandAll(false)
                        .OnRowClick("onRowClick")
                    )
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>


            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@Localizer["Title"]</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkCode" class="control-label">@Localizer["MarkCode"]</label>
                <input asp-for="MarkCode" class="form-control" />
                <span asp-validation-for="MarkCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Localizer["Price"]</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Img" class="control-label">@Localizer["Image"]</label>
                    <div class="custom-file">
                        <input asp-for="Img" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">@Localizer["ChooseFile"]</label>
                    </div>
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">@Localizer["Company"]</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let lastRowSelection = {};
    function onInitialized() { }

    function getTreeList() {
        return $("#CategoryList").dxTreeList("instance");
    }
    function collapseAll() {
        var ds = getTreeList();
        for (let i = 0; i < 4; i++) {
            ds.collapseRow(i);
        }
    }
    function onRowClick(e) {
        if (lastRowSelection.rowIndex == e.rowIndex && (new Date() - lastRowSelection.time) < 300) {
            console.log('double click', e)
            collapseAll();
            $("#category-id").val(e.data.CategoryId);
            $("#category-value").val(e.data.Name)
        }
        lastRowSelection.rowIndex = e.rowIndex;
        lastRowSelection.time = new Date();
    }

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
</script>
